@model IEnumerable<PrintBrands>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PrinterBrand)
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrinterBrand)
            </td>
            <td class="text-right">
                <div class="btn-group" role="group" aria-label="...">
                    <a class="btn btn-info btn-sm" @Html.ActionLink("Изменить", "CreateBrand", new { id = item.ID })
                    <a class="btn btn-danger btn-sm" @Html.ActionLink("Удалить", "Deletebrand", new { id = item.ID })
                </div>
            </td>
        </tr>
    }

</table>
