@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<h4>@ViewBag.Message</h4>

<br />

<div class="row">
    <div class="col-md-5">
        <p style="padding-left: 50px; padding-right: 50px">
            <a class="btn btn-primary btn-lg btn-block" @Html.ActionLink("Добавить здание", "Create", "Buildings")</a>
            <hr />
        </p>
        
        @{Html.RenderAction("BuildingsList", "Buildings"); }
    </div>
    <div class="col-md-7">
        <p>
            <a class="btn btn-primary btn-lg btn-block" @Html.ActionLink("Добавить кабинет", "Create")</a>
        </p>
        <hr />
        @{Html.RenderAction("CabinetsList"); }
    </div>
</div>